.container {
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 100px;
    opacity: 1 !important;
    z-index: 1;

}

.text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-size: clamp(10px, 30px, 70px);
    color: #DFBBB1;
    opacity: 1 !important;
    z-index: 100;
}